<div class="contact-item">
    <select name="" class="select-contact-type" id="">
        <option value="phone">📞</option>
        <option value="email">✉️</option>
        <option value="fax">🖷</option>
    </select>

    <input type="text" name="" class="input-contact-value">
    
    <label>Notes:
        <input type="text" name="" class="input-contact-notes" placeholder="(Optional)">
    </label>

    <button class="btn-delete-self active" type="button">
        <i class="fi fi-sr-trash-xmark"></i>
    </button>
</div>