<div class="contact-item">
    <input type="hidden" name="{{name}}-contact-id" value="{{contact.id}}"> 
    <select name="{{name}}-contact-type" class="select-contact-type" value="{{contact.contact_type}}">
        <option value="phone" 
            {% if "phone" == contact.contact_type %}selected{% endif %}> 📞
        </option>
        <option value="email"
            {% if "email" == contact.contact_type %}selected{% endif %}> ✉️
        </option>
        <option value="fax"
            {% if "fax" == contact.contact_type %}selected{% endif %}>🖷
        </option>
    </select> 

    <input type="text" name="{{name}}-contact-value" class="input-contact-value" value="{{contact.value}}">
    
    <label>Notes:
        <input type="text" name="{{name}}-contact-notes" class="input-contact-notes" placeholder="(Optional)" value="{{contact.notes}}">
    </label>

    <button class="btn-delete-self active" type="button">
        <i class="fi fi-sr-trash-xmark"></i>
    </button>
</div>