@import url('tabs.css');

.tabs {
    margin: 1% auto;
    min-width: 60%;
}
 

.tab-pane.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: max-content;
}

.tab-pane h2 {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    color: #48e;
    font-size: 1.4rem;
    border-bottom: 3px solid #48e;
    padding: 10px 0;
}

.tab-pane h2 button {
    display: flex;
    gap: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

.tab-pane h2 button:hover {
    background-color: #ddd;
}

#employer-pane.active,
#insurance-pane.active,
#claim-pane.active,
#defense-pane.active, 
#injury-pane.active {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: max-content;
}

.tab-pane label {
    font-weight: bold;
}

.tab-pane input,
.tab-pane select, 
.tab-pane textarea,
.tab-pane button {
    font-size: 1.2rem;
    padding: 10px 15px;
    max-width: 100%;
}

ul.errorlist {
    color: red;
    list-style: none;
}

.form button {
    height: min-content;
    padding: 10px 15px;
}  

.contacts-container {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 20px;
} 

.contact-item, 
.injury-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content minmax(max-content, 100%) min-content min-content;
    grid-template-rows: repeat(3, min-content);

    row-gap: 0px;
    column-gap: 20px;
    font-size: 1.2rem;
}

.injury-item {
    grid-template-columns: min-content minmax(max-content, 100%) minmax(max-content, 100%) min-content;
}   

.contact-item input[type="checkbox"],
.injury-item input[type="checkbox"] {
    display: none;
}

.inactive input {
    opacity: 0.4;
    text-decoration: line-through;
}

.contact-item select {
    border: none;
    width: min-content;
}

div.row {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

