@import url('tabs.css');
 

.tabs {
    margin: 1% auto;
    min-width: 60%;
}

.tab-pane.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: max-content;
}

.tab-pane h2 {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    color: var(--form-header);
    font-size: 1.6rem;
    border-bottom: 3px solid var(--form-header);
    padding-bottom: 5px;
}

.tab-pane h2:not(:first-of-type) {
    margin-top: 30px;
}

.tab-pane h2 button {
    display: flex;
    gap: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

.tab-pane h2 button:hover {
    background-color: #ddd;
}

#employer-pane.active,
#insurance-pane.active,
#claim-pane.active,
#defense-pane.active, 
#injury-pane.active {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: max-content;
}

.tab-pane label {
    font-weight: bold;
}

.tab-pane input,
.tab-pane select, 
.tab-pane textarea,
.tab-pane button {
    font-size: 1.2rem;
    padding: 10px 15px;
    max-width: 100%;
}

ul.errorlist {
    color: red;
    list-style: none;
}

.form button {
    height: min-content;
    padding: 10px 15px;
}  

.contacts-container {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 20px;
} 

.contact-item, 
.injury-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content minmax(max-content, 100%) min-content min-content;
    grid-template-rows: repeat(3, min-content);

    row-gap: 0px;
    column-gap: 20px;
    font-size: 1.2rem;
}

.injury-item {
    grid-template-columns: min-content minmax(max-content, 100%) minmax(max-content, 100%) min-content;
}   

.contact-item input[type="checkbox"],
.injury-item input[type="checkbox"] {
    display: none;
}

#client-pane.active {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: max-content;
}

.inactive input {
    opacity: 0.4;
    text-decoration: line-through;
}

.contact-item select {
    border: none;
    width: min-content;
}

div.row {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}


/* TOM SELECT */
.ts-wrapper {
    font-family: sans-serif;
}

.form-field .ts-control {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid #767676;
    
}

.form-field .ts-control:focus{
    outline: 2px solid #0066ff;
    outline-offset: -1px;

}

.form-field .ts-control input { 
    width: min-content;
    font-size: 1.2rem;
}

.form-field .ts-control .item {
    width: max-content;
    font-size: 1.2rem;
}

.form-field .ts-dropdown-content {
    padding: 8px 0;
}

.form-field .ts-dropdown-content * {
    font-size: 1.2rem; 
}
.form-field .ts-dropdown-content .option,
.form-field .ts-dropdown-content .create.active {
    font-size: 1.2rem;
    padding: 10px 15px;
}

.contact-item .form-field,
.injury-item div.form-field {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: 1/-1;
}