@import url('base.html');

main {
    justify-content: center;
    padding-top: 2%;
}

main>div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

main h2 {
    font-size: 2.8rem;
    color: var(--header);
}

main img {
    border-radius: 50%;
}