{% extends "base.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/create-case.css' %} ">
<script src="{% static "js/tabs.js" %}" defer></script>
<script src="{% static "js/contacts.js" %}" defer></script>
<script src="{% static "js/injury.js" %}" defer></script>
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    
<!-- Tom Select JS -->
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

<script src="{% static "js/create-case.js" %}" defer></script>

{% endblock link %}

{% block main %}
<div class="tabs" data-initial="{% if initial %}{{initial}}{% else %}1{% endif %}" data-max="7" data-create="{{create_form}}"> 
    <div class="tab-buttons">
        <button class="tab-btn active" data-tab="1">Client</button>
        <button class="tab-btn" data-tab="2">Case</button>
        <button class="tab-btn" data-tab="3">Injuries</button>
        <button class="tab-btn" data-tab="4">Employer</button>
        <button class="tab-btn" data-tab="5">Insurance</button>
        <button class="tab-btn" data-tab="6">Claim Admin</button>
        <button class="tab-btn" data-tab="7">Defense Side</button>
    </div>
    <form method='POST' class="tab-content form">
        {% csrf_token %} 
        <div class="tab-pane active" data-tab="1" id="client-pane">
            <h2>Client Information</h2> 
            
            
            <!-- Tom select aqui -->
             {% if create_form %}
            <div class="form-field">  
                {{client_form.client_choice.label_tag}}
                {{client_form.client_choice}}
                {{client_form.client_choice.errors}}
                {{client_form.name}}
            </div>
            {% else %}
            <div class="form-field">  
                {{client_form.name.label_tag}}
                {{client_form.name}}
                {{client_form.name.errors}}
            </div>
            {% endif %}
            <div class="form-field">
                {{client_form.birth.label_tag}}
                {{client_form.birth}}
                {{client_form.birth.errors}}
            </div>
            
            <div class="form-field">
                {{client_form.address.label_tag}}
                {{client_form.address}}
                {{client_form.address.errors}}
            </div>
            
            <div class="form-field">
                {{client_form.ssn.label_tag}}
                {{client_form.ssn}}
                {{client_form.ssn.errors}}
            </div>
             
            
            <h2>
                Client contact methods
                <button class="btn-add-contact" type="button">
                    <i class="fi fi-sr-plus"></i> Add contact
                </button>
            </h2>

            <div class="contacts-container" id="client-contacts-container">
                {{client_contact_formset.management_form}}

                {% for form in client_contact_formset.forms %}
                <div class="contact-item  ">
                    {{ form.id }}

                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %} {{ form.type.errors }} {% else %} <span></span> {% endif %}
                    
                    {{ form.value.label_tag }}
                    {{ form.value }}
                    {% if form.value.errors %} {{ form.value.errors }} {% else %} <span></span> {% endif %}

                    {{ form.notes.label_tag }}
                    {{ form.notes }}
                    {% if forms.notes.errors %} {{forms.notes.errors}} {% else %} <span></span> {% endif %} 
                    
                    <span></span>
                    <button class="btn-delete-self" type="button">
                        <i class="fi fi-sr-trash"></i>
                    </button>
                    {{form.active}}
                </div>
                {% endfor %} 
            </div>
            

        </div>
        <div class="tab-pane" data-tab="2">

            <h2> Case Information </h2>

            <div class="form-field">
                {{ case_form.status.label_tag }}
                {{ case_form.status }}
                {{ case_form.status.errors }}
            </div>
            <span></span>
            <div class="form-field">
                {{ case_form.adj_date.label_tag }}
                {{ case_form.adj_date }}
                {{ case_form.adj_date.errors }}
            </div>
            <div class="form-field">
                {{ case_form.adj_num.label_tag }}
                {{ case_form.adj_num }}
                {{ case_form.adj_num.errors }}
            </div>
            <div class="form-field">
                {{ case_form.claim_status.label_tag }}
                {{ case_form.claim_status }}
                {{ case_form.claim_status.errors }}
            </div>
            <div class="form-field">
                {{ case_form.claim_num.label_tag }}
                {{ case_form.claim_num }}
                {{ case_form.claim_num.errors }}
            </div>
            <div class="form-field">
                {{ case_form.settlement_date.label_tag }}
                {{ case_form.settlement_date }}
                {{ case_form.settlement_date.errors }}
            </div>
            <span></span>

            <h2> Employers handling: </h2>
            <div class="form-field">
                {{ case_form.attorney.label_tag }}
                {{ case_form.attorney }}
                {{ case_form.attorney.errors }}
            </div>
            <div class="form-field">
                {{ case_form.assistant.label_tag }}
                {{ case_form.assistant }}
                {{ case_form.assistant.errors }}
            </div>
        </div>
        <div class="tab-pane" data-tab="3" id="injury-pane">

            <h2> 
                Injuries Detail 
                <button class="btn-add-injury" type="button">
                    <i class="fi fi-sr-plus"></i> Add Injury
                </button>
            </h2>
            <div class="injuries-container" id="injuries-container">

                {{injury_formset.management_form}}
    
                {% for form in injury_formset.forms %}
                <div class="injury-item">
                    {{ form.id }}
                    
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {% if form.date.errors %}{{ form.date.errors }}{% else %}<span></span>{% endif %}
    
                    {{ form.part.label_tag }}
                    {{ form.part }}
                    {% if form.part.errors %}{{ form.part.errors }} {% else %}<span></span>{% endif %}
    
                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %}{{ form.type.errors }}{% else %}<span></span>{% endif %}
                    
                    <span></span>
                    <button class="btn-delete-self" type="button">
                        <i class="fi fi-sr-trash"></i>
                    </button> 
                    {{ form.active }}
                </div>
                {% endfor %} 
            </div>
        </div>
        <div class="tab-pane" data-tab="4" id="employer-pane">
            <h2> Client's Employer Information</h2>
            <div class="form-field">
                {{ employer_form.employer_choice.label_tag }}
                {{ employer_form.employer_choice }}
                {{ employer_form.employer_choice.errors }}
            </div>
           <div class="form-field">
                {{ employer_form.address.label_tag }}
                {{ employer_form.address }}
                {{ employer_form.address.errors }}
            </div>
        </div>
        <div class="tab-pane" data-tab="5" id="insurance-pane">

            <h2> Employer's Insurance Carrier Information </h2>
            <div class="form-field">
                {{ insurance_form.insurance_carrier_choice.label_tag }}
                {{ insurance_form.insurance_carrier_choice }}
                {{ insurance_form.insurance_carrier_choice.errors }}
            </div>
           <div class="form-field">
                {{ insurance_form.address.label_tag }}
                {{ insurance_form.address }}
                {{ insurance_form.address.errors }}
            </div>
        </div>
        <div class="tab-pane" data-tab="6" id="claim-pane">

            <h2> Claim Administrator Information </h2>
            <div class="form-field">
                {{ claim_admin_form.claim_administrator_choice.label_tag }}
                {{ claim_admin_form.claim_administrator_choice }}
                {{ claim_admin_form.claim_administrator_choice.errors }}
            </div>
           <div class="form-field">
                {{ claim_admin_form.address.label_tag }}
                {{ claim_admin_form.address }}
                {{ claim_admin_form.address.errors }}
            </div>

            <h2> Claim Adjuster Information </h2>

            <div class="form-field">
                {{ claim_adjuster_form.claim_adjuster_choice.label_tag }}
                {{ claim_adjuster_form.claim_adjuster_choice }}
                {{ claim_adjuster_form.claim_adjuster_choice.errors }}
            </div>

            <h2>
                Claim Adjuster contact methods
                <button class="btn-add-contact" type="button">
                    <i class="fi fi-sr-plus"></i> Add contact
                </button>
            </h2>

            <div class="contacts-container" id="claim-adjuster-contacts-container">
                {{claim_adjuster_contact_formset.management_form}}

                {% for form in claim_adjuster_contact_formset.forms %} 
                <div class="contact-item  ">
                    {{ form.id }}

                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %} {{ form.type.errors }} {% else %} <span></span> {% endif %}
                    
                    {{ form.value.label_tag }}
                    {{ form.value }}
                    {% if form.value.errors %} {{ form.value.errors }} {% else %} <span></span> {% endif %}

                    {{ form.notes.label_tag }}
                    {{ form.notes }}

                    {% if forms.notes.errors %} {{forms.notes.errors}} {% else %} <span></span> {% endif %}
                    {{ form.notes.errors }}
                    
                    <span></span>
                    <button class="btn-delete-self" type="button">
                        <i class="fi fi-sr-trash"></i>
                    </button>
                    {{form.active}}
                </div>
                {% endfor %} 
            </div>
        </div>


        <div class="tab-pane" data-tab="7" id="defense-pane">
            <h2> Defense Law firm Information</h2>
            <div class="form-field">
                {{ def_lawfirm_form.defense_law_firm_choice.label_tag }}
                {{ def_lawfirm_form.defense_law_firm_choice }}
                {{ def_lawfirm_form.defense_law_firm_choice.errors }}
            </div>
            
            <div class="form-field">
                {{ def_lawfirm_form.address.label_tag }}
                {{ def_lawfirm_form.address }}
                {{ def_lawfirm_form.address.errors }}
            </div>
            
            <h2> Def. Attorney Information </h2>

            <div class="form-field">
                {{ def_attorney_form.defense_attorney_choice.label_tag }}
                {{ def_attorney_form.defense_attorney_choice }}
                {{ def_attorney_form.defense_attorney_choice.errors }}
            </div>

            <h2>
                Def. Attorney contact methods
                <button class="btn-add-contact" type="button">
                    <i class="fi fi-sr-plus"></i> Add contact
                </button>
            </h2>

            <div class="contacts-container" id="def-attorney-contacts-container">
                {{def_attorney_contact_formset.management_form}}

                {% for form in def_attorney_contact_formset.forms %} 
                <div class="contact-item  ">
                    {{ form.id }}

                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %} {{ form.type.errors }} {% else %} <span></span> {% endif %}
                    
                    {{ form.value.label_tag }}
                    {{ form.value }}
                    {% if form.value.errors %} {{ form.value.errors }} {% else %} <span></span> {% endif %}

                    {{ form.notes.label_tag }}
                    {{ form.notes }}

                    {% if forms.notes.errors %} {{forms.notes.errors}} {% else %} <span></span> {% endif %}
                    {{ form.notes.errors }}
                    
                    <span></span>
                    <button class="btn-delete-self" type="button">
                        <i class="fi fi-sr-trash"></i>
                    </button>
                    {{form.active}}
                </div>
                {% endfor %} 
            </div> 

            <h2> Def. Assistant Information </h2>
            <div class="form-field"> 
                {{ def_assistant_form.defense_assistant_choice.label_tag }}
                {{ def_assistant_form.defense_assistant_choice }}
                {{ def_assistant_form.defense_assistant_choice.errors }}
            </div>

            <h2>
                Def. Assistant contact methods
                <button class="btn-add-contact" type="button">
                    <i class="fi fi-sr-plus"></i> Add contact
                </button>
            </h2>
            <div class="contacts-container" id="def-assistant-contacts-container">
                {{def_assistant_contact_formset.management_form}}

                {% for form in def_assistant_contact_formset.forms %} 
                <div class="contact-item  ">
                    {{ form.id }}

                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {% if form.type.errors %} {{ form.type.errors }} {% else %} <span></span> {% endif %}
                    
                    {{ form.value.label_tag }}
                    {{ form.value }}
                    {% if form.value.errors %} {{ form.value.errors }} {% else %} <span></span> {% endif %}

                    {{ form.notes.label_tag }}
                    {{ form.notes }}

                    {% if forms.notes.errors %} {{forms.notes.errors}} {% else %} <span></span> {% endif %}
                    {{ form.notes.errors }}
                    
                    <span></span>
                    <button class="btn-delete-self" type="button">
                        <i class="fi fi-sr-trash"></i>
                    </button>
                    {{form.active}}
                </div>
                {% endfor %} 
            </div> 
        </div> 
    </form>
    <div class="tab-controls">
        <button class="btn-prev active"> 
            <i class="fi fi-sr-caret-left"></i> Prev
        </button>
        <span class="spacer"></span>
        <button class="btn-submit">
            <i class="fi fi-sr-disk"></i> Save
        </button> 
        <button class="btn-next active"> 
            Next <i class="fi fi-sr-caret-right"></i>
        </button>
        
    </div>
</div>
{% endblock main %}
