{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href=' {% static "css/create-case.css" %} '>
{% endblock link %}

{% block main %}
<div class="tabs">
    <div class="tabs-buttons">
        <button class="tab-btn active" data-tab="1">Client</button>
        <button class="tab-btn" data-tab="2">Case info.</button>
        <button class="tab-btn" data-tab="3">Injuries</button>
        <button class="tab-btn" data-tab="4">Employer</button>
        <button class="tab-btn" data-tab="5">Ins. Carrier</button>
        <button class="tab-btn" data-tab="6">Claim Admin.</button>
        <button class="tab-btn" data-tab="7">Defense side</button> 
    </div>
    <form action="" class="form tabs-content" method="POST">
        {% csrf_token %}
        <div class="tab-pane active" data-tab="1">
            <input type="hidden" name="client-id" value="{{client.id}}">
            <label> Full Name:
                <input type="text" name="client-name" value="{{client.name}}" required>
            </label>
            <label>Address:
                <input type="text" name="client-address" value="{{client.address}}" required>
            </label>
            <label> Social Sec. Number:
                <input type="text" name="client-ssn" value="{{client.ssn}}">
            </label>
            <label> Date of birth:
                <input type="date" name="client-birth" value="{{client.birth_date|date:"Y-m-d"}}" required>
            </label>

            <span class="error-msg" id="client-error-msg"></span>

            <div class="contact-information">
                <h2> Contact Information: </h2>
                <div class="contact-item-container" data-name="client">
                    {% for item in client_contacts %}
                        {% include "partials/contact-item.html" with name='client' contact=item %}
                    {% endfor %}
                </div>
                <button type="button" class="btn-add-contact active">
                    <i class="fi fi-br-plus"></i>
                    Add contact
                </button>
            </div>
        </div>
        <div class="tab-pane" data-tab="2">
            <label for="select-case-status-id">Case Status:
                <select name="case-status" id="select-case-status-id" value="{{case_status.id}}" required>
                    {% for status in case_statuses %}
                    <option value="{{status.id}}"
                        {% if case_status.id == status.id %}selected{% endif %}>
                        {{status.name}} 
                    </option>
                    {% endfor %}
                </select>
            </label>
            <span></span>
            <label for="select-attorney-id">Attorney Handling:
                <select name="attorney-id" id="select-attorney-id" required>
                    {% for attorney in attorneys %}
                    <option value="{{attorney.id}}"
                    {% if attorney.id == case_attorney.id %} selected {% endif %}>
                        {{attorney.name}}
                    </option>
                    {% endfor %}
                </select>
            </label>

            <label for="select-assistant-id">Assistant Handling:
                <select name="assistant-id" id="select-assistant-id" required>
                    {% for assistant in assistants %}
                    <option value="{{assistant.id}}"
                        {% if assistant.id == case_assistant.id %} selected {% endif %}>
                        {{assistant.name}}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <label> Adjudication N°:
                <input type="text" name="case-adj-num" value="{{case.adj_num}}">
            </label>
            <label>Adjudication date:
                <input type="date" name="case-adj-date" value="{{case.adj_date|date:"Y-m-d"}}">
            </label>

            <label> Claim N°:
                <input type="text" name="case-claim-num" value="{{case.claim_num}}">
            </label>
            <label for="input-case-claim-status"> Claim status:
                <select name="case-claim-status" id="input-case-claim-status" value="{{case.claim_status}}">
                    <option value="accepted">Accepted</option>
                    <option value="delayed">Delayed</option>
                    <option value="denied">Denied</option>
                </select>
            </label>

            <label>Settlement date:
                <input type="date" name="case-settlement-date" value="{{case.settlement_date|date:"Y-m-d"}}">
            </label>
            <span class="error-msg"></span>

        </div>
        <div class="tab-pane" data-tab="3" id="injury-pane">

            <div class="injury-item-container">
                {% for injury in injuries %}
                    {% include "partials/injury-item.html" with injury=injury %}          
                {% endfor %}
            </div>

            <button class="btn-add-injury active" type="button">
                <i class="fi fi-br-plus"></i>
                Add injury
            </button>
            <span class="error-msg"></span>
        </div>

        <div class="tab-pane" data-tab="4">
            <input type="hidden" name="employer-id" value="{{employer.id}}">
            <label>Company Name:
                <input type="text" name="employer-name" value="{{employer.name}}">
            </label>
            <label>Address:
                <input type="text" name="employer-address" value="{{employer.address}}">
            </label>
        </div>
        <div class="tab-pane" data-tab="5">
            <input type="hidden" name="insurance-id" value="{{ins_carrier.id}}">
            <label>Company Name:
                <input type="text" name="insurance-name" value="{{ins_carrier.name}}">
            </label>
            <label>Address:
                <input type="text" name="insurance-address" value="{{ins_carrier.address}}">
            </label>
        </div>
        <div class="tab-pane" data-tab="6">
            <input type="hidden" name="claim-admin-id" value="{{claim_admin.id}}">
            <label>Claim Administrator:
                <input type="text" name="claim-admin-name"value="{{claim_admin.name}}">
            </label>
            <label>Address:
                <input type="text" name="claim-admin-address" value="{{claim_admin.address}}">
            </label>
            <input type="hidden" name="claim-adj-id" value="{{claim_adj.id}}">
            <label> Claim Adj. Name:
                <input type="text" name="claim-adj-name" value="{{claim_adj.name}}">
            </label>
            <span></span>
            <div class="contact-information">
                <h2> Adjuster Contact Information: </h2>
                <div class="contact-item-container" data-name="claim-adj">
                    {% for item in claim_adj_contacts %}
                        {% include "partials/contact-item.html" with name='claim-adj' contact=item %}
                    {% endfor %}
                </div>
                <button type="button" class="btn-add-contact active">
                    <i class="fi fi-br-plus"></i>
                    Add contact
                </button>
            </div>
        </div>
        <div class="tab-pane" data-tab="7">
            <input type="hidden" name="law-firm-id" value="{{def_lawfirm.id}}">
            <label>Law Firm Name:
                <input type="text" name="law-firm-name"value="{{def_lawfirm.name}}" >
            </label>
            <label>Address:
                <input type="text" name="law-firm-address" value="{{def_lawfirm.address}}">
            </label>
            <input type="hidden" name="def-att-id" value="{{def_att.id}}">
            <label> D. Attorney:
                <input type="text" name="def-att-name" value="{{def_att.name}}">
            </label>
            <span></span>
            <input type="hidden" name="def-asst-id" value="{{def_asst.id}}">
            <label>D. Assistant: 
                <input type="text" name="def-asst-name" value="{{def_asst.name}}">
            </label>
            <span></span>
            <span class="error-msg"></span>
            <div class="contact-information">
                <h2>Assistant Contact Information: </h2>
                <div class="contact-item-container" data-name="def-asst">
                    {% for item in def_asst_contacts %}
                        {% include "partials/contact-item.html" with name='def_asst' contact=item %}
                    {% endfor %}
                </div>
                <button type="button" class="btn-add-contact active">
                    <i class="fi fi-br-plus"></i>
                    Add contact
                </button>
            </div>  
        </div>

        <div class="tabs-controller">
            <button class="btn-prev" id="btn-prev" type="button">
                <i class="fi fi-sr-caret-left"></i>
                Previous
            </button>
            <span class="tabs-spacer"></span>
            <button class="btn-next active" id="btn-next" type="button">
                Next 
                <i class="fi fi-sr-caret-right"></i>
            </button>
            <button class="btn-submit" id="btn-submit" >
                Save 
                <i class="fi fi-sr-disk"></i>
            </button>
        </div>
    </form>
</div>
{% endblock main %}

{% block scripts %}
<script type="module" src="{% static 'js/tabs.js'%} "></script>
{% endblock scripts %}