{% extends "show/show-cases.html" %}

{% load static %}

{% block extra_link %}
<script src="{% static "js/list-cases.js" %}" defer></script>
{% endblock extra_link %}

{% block filter %}
{% if not user_is_assistant %}
<label class="form-label">Assistant: </label> 
    <select name="assistant" class="form-select">
        <option value="">All Assistants</option>
        {% for assistant in assistants %}
        <option value="{{ assistant.id }}" 
                {% if selected_assistant|stringformat:"s" == assistant.id|stringformat:"s" %}selected{% endif %}>
            {{ assistant.name }}
        </option>
        {% endfor %}
    </select> 
</label>
{% endif %}
{% if not user_is_attorney %}
<label class="form-label">Attorney: 
    <select name="attorney" class="form-select">
        <option value="">All Attorneys</option>
        {% for attorney in attorneys %}
        <option value="{{ attorney.id }}" 
                {% if selected_attorney|stringformat:"s" == attorney.id|stringformat:"s" %}selected{% endif %}>
            {{ attorney.name }}
        </option>
        {% endfor %}
    </select> 
</label>
{% endif %}
<label class="form-label">Case Status:
    <select name="status" class="form-select">
        <option value="">All Statuses</option>
        {% for status in statuses %}
        <option value="{{ status.id }}" 
                {% if selected_status|stringformat:"s" == status.id|stringformat:"s" %}selected{% endif %}>
            {{ status.name }}
        </option>
        {% endfor %}
    </select>
</label>
{% endblock filter %}

{% block labels %} 
<th>Status</th>
<th>Case Name</th>
<th>Attorney Handling</th>
<th>Assistant Handling</th>
<th>ADJ Date</th>
<th>History</th>
{% endblock labels %}

{% block attributes %} 
<td>{{item.status}}</td>
<td>{{item.name}}</td>
<td>{{item.attorney.name}}</td>
<td>{{item.assistant.name}}</td>
<td> 
    {% if item.adj_date %}
    {{item.adj_date}}
    {% else %}
    Not ADJ yet. 
    {% endif %}
</td>

<td>
    <a href="{% url "case-history" item.id %}">
        <i class="fi fi-sr-time-past"></i>
    </a>
</td>

<td>
    {% if item.active == True %}
    <i class="fi fi-ss-check-circle"></i>
    {% else %}
    <i class="fi fi-ss-cross-circle"></i>
    {% endif %}
</td>
<td>

    {% if not item.status.terminal %}
    
    {% if not item.adj_date and item.active %}
        <a href="{% url "set-adjudication" item.id %}" class="btn-set-adj"> 
            Set ADJ
        </a>
    {% elif item.active %}
    <div>
        <a href="{% url "update-case" item.id %}" class="btn-update"
            {% if not item.active %} disabled {% endif %} data-behaviour="modal">
            <i class="fi fi-sr-pencil"></i>
        </a>
        <button class="btn-delete" data-id="{{item.id}}" data-name="{{item.name}}"
            {% if not item.active %} disabled {% endif %}>
            <i class="fi fi-sr-trash"></i>
        </button>
    </div>
    {% else %}
    <button class='btn-restore' data-id="{{item.id}}">
        <i class="fi fi-sr-inbox-out"></i>
    </button>
    {% endif %}
    
    {% endif %}
</td>
{% endblock attributes %}

{% block create_url %}{% url "create-case" %}{% endblock %}
{% block update_url %}{% url "update-case" 0 %}{% endblock %}
{% block delete_url %}{% url "delete-case" 0 %}{% endblock %}
{% block restore_url %}{% url "restore-case" 0 %}{% endblock %}