{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
        <h1>Comley Fresch</h1>
        <div>
            <label>Username:
                <input type="text" name="username" value="{{username}}">
            </label>
            <label>Password:
                <input type="password" name="password">
            </label>

            <span class="error-span">{{error_msg}}</span>
            <button>Log In</button>
        </div>
    </form>
</body>
</html>