{% extends "base.html" %}
{% load static %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "css/search-cases.css" %}">
{% endblock link %}

{% block main %}
<div class="view-container">
    <form action="" class="search"> 
        <label > Search:
            <input type="text" class="input-search" name="q" value="{{search}}" autocomplete="off">
        </label>

        {% if search %}
        <button class="btn-delete-search" type="button">
            <i class="fi fi-br-cross"></i>
        </button>
        {% endif %}

        <label for="select-filter">
            <i class="fi fi-rs-filter"></i>
            Filter by
            <select name="filter" class="select-filter" value="filter">
                {% for value, label in filter_options %}
                <option value="{{value}}" {% if selected_filter == value %} selected {% endif %}> {{label}}</option>
                {% endfor %}
            </select>
        </label>

        <label for="select-order" style="display:none">
            <i class="fi fi-sr-sort-alt"></i>
            Order by
            <select name="" id="">
                <option value="">Most recent</option>
                <option value="">Name...</option>
            </select>
        </label>

        <button class="btn-search" type="submit">
            <i class="fi fi-br-search"></i>
            Search
        </button>
    </form>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client Name</th>
                    <th>Status</th>
                    <th>Injuries</th>
                    <th>Employer</th>
                    <th>Insurance Carrier</th>
                    <th>Claim Admin</th>
                    <th>Claim Adjuster</th>
                    <th>Law Firm</th>
                    <th>D. Attorney</th>
                    <th>D. Assistant</th>
                </tr>
            </thead>
            <tbody> 
                {% for case in cases %}
                    <tr class="table-row" data-url="{% url 'view-case' case.id %}">
                        <td>{{case.id}}</td>
                        <td>{{case.client.name}}</td>
                        <td>{{case.status}}</td>
                        <td> 
                            <ul>
                                {% for injury in case.get_injuries %}
                                <li>{% if injury.body_part %}{{injury.body_part.name}}{% endif %} </li>
                                {% endfor %} 
                            </ul>
                        </td>
                        <td>{{case.employer.name}}</td>
                        <td>{{case.ins_carrier.name}}</td>
                        <td>{{case.claim_admin.name}}</td>
                        <td>{{case.claim_adjuster.name}}</td>
                        <td>{{case.def_lawfirm.name}}</td>
                        <td>{{case.def_attorney.name}}</td>
                        <td>{{case.def_assistant.name}}</td>
                    </tr>
                {% endfor %}
                 
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/search-cases.js' %}"></script>
{% endblock scripts %}