{% extends "view-elements.html" %}

{% block name %}
Def. Assistant
{% endblock name %}

{% block columns %}
<tr> 
    <th>ID</th> 
    <th>Assistant Name</th>
</tr>
{% endblock columns %}

{% block rows %}
{% for def_assistant in def_assistants %}
<tr class="table-row">
    <td data-field="id">{{ def_assistant.id }}</td> 
    <td data-field="name">{{ def_assistant.name }}</td> 
</tr>
{% endfor %}
{% endblock rows %}

{% block form %} 
<input type="hidden" name="id" >
<label> Name:
    <input type="text" name="name">
</label> 
{% endblock form %}