{% extends "view-elements.html" %}

{% block name %}
Case status
{% endblock name %}

{% block columns %}
<tr> 
    <th>ID</th> 
    <th>Status Name</th>
</tr>
{% endblock columns %}

{% block rows %}
{% for case_status in case_statuses %}
<tr class="table-row">
    <td data-field="id">{{ case_status.id }}</td> 
    <td data-field="name">{{ case_status.name }}</td> 
</tr>
{% endfor %}
{% endblock rows %}

{% block form %} 
<input type="hidden" name="id" >
<label> Name:
    <input type="text" name="name">
</label> 
{% endblock form %}